<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Create Company</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/companies/index" class="btn btn-secondary btn-sm">Back To Index</a>
    </div>
  </div>
  <br />
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
    <div class="form-group">
      <label for="companyName">Company Name:</label>
      <input formControlName="companyName"
             id="companyName"
             type="text"
             class="form-control" />
    </div>
    <div *ngIf="companyName.invalid && (companyName.dirty || companyName?.touched)">
      <small *ngIf="companyName?.errors?.required">Field is required.</small>
      <small *ngIf="companyName?.errors?.maxlength">Maximum length is 100 characters.</small>
      <small *ngIf="companyName?.errors?.pattern">Field must contain only alphanumeric and special characters.</small>
    </div>
    <div class="form-group">
      <label for="companyCode">Company Code:</label>
      <input formControlName="companyCode"
             id="companyCode"
             type="text"
             class="form-control" />
    </div>
    <div *ngIf="companyCode.invalid && (companyCode.dirty || companyCode.touched)">
      <small *ngIf="companyCode.errors?.maxlength">Maximum length is 10 characters.</small>
      <small *ngIf="companyCode.errors?.pattern">Field must only uppercase alphanumeric characters.</small>
      <small *ngIf="companyCode.errors?.unique">Company Code Already Exists</small>
    </div>
    <div class="form-group">
      <label for="sharePrice">Share Price:</label>
      <input formControlName="sharePrice"
             id="sharePrice"
             type="number"
             class="form-control" />
    </div>
    <div *ngIf="sharePrice.invalid && (sharePrice.dirty || sharePrice.touched)">
      <small *ngIf="sharePrice.errors?.pattern">Field must only have 5 decimal places.</small>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Save</button>
  </form>
</div>
