<nav class="horizontal-nav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Downing</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            style="display: inline;">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>       
        <li class="nav-item"
         [routerLinkActive]="['link-active']" 
         style="display: inline;">
          <a class="nav-link text-dark" [routerLink]="['/companies']">Companies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
